.tablinks1 {
    position: absolute;
    width: 223px;
    height: 24px;
    left: 671px;
    top: 91px;

    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;

  

    color: #232323;
}

h1 {
    left: 700px;
}

.employeesInfo1, .employeesInfo2 {
    position: absolute;
    
    height: 0px;
    
    top: 130px;

    border: 2px solid #000000;
}

.employeesInfo1 {
    left: 671px;
    width: 185px;
}

.employeesInfo2 {
    left: 973px;
    width: 263px;
}

.tablinks2 {
    position: absolute;
    width: 289px;
    height: 24px;
    right: 671px;
    top: 91px;

    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;



    color: #232323;
}


.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    align-items: center;
  }
  
 
  .tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
  }
  
  
  .tabcontent {
    display: none;
    border: 1px solid #ccc;
    border-top: none;
  }